<ion-header>
  <ion-toolbar>
    <ion-title>
      Planejamento Financeiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h4>Bem-Vindo ao Sistema de Planejmanto</h4>
    <p>Insira, altere e controle as suas finanças, o melhor caminho para o sucesso é a boa relação com o dinheiro, poupe, organize,
       planeje e execute cada passo do seu dinheiro com nossa consultoria.</p>
  </div>
  <ion-button expand='block' color='primary' [routerLink]='["/novo-planejamento"]'>Começar o Controle</ion-button>
</ion-content>
